{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react",
    "^next",
    "^@clerk",
    "^@radix-ui",
    "^@/components/ui",
    "^@/components",
    "^@/lib",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}